body {
    background-color: #84b6f4;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-header {
    text-align: center;
}

.btn {
    background-color: rgba(33, 37, 41, 0.03);
    border: 1px solid black;
}